/* ==================== 
  Media Queries
==================== */

@media (min-width: 240px) {
	.header,
	.main-nav,
    .row,
	.support-row,
	.design-row,
	.background-row,
	.footer-nav{
		display: flex;
	}

	.header,
	.main-nav {
		flex-direction: row;
		justify-content: space-between;
	}

	.column {
		flex-wrap: wrap;
	}

    .row, 
	.support-row,
	.design-row,
	.background-row{
		flex-wrap: wrap;
	}

    .button {
        display: inline-flex;
		margin-top: auto;
        align-items: center;
		justify-content: center;
	}

	.footer-nav {
		flex-direction: row;
		justify-content: space-around;
	}

}

@media (min-width: 1025px) {

	.header,
	.main-nav {
		flex-direction: row;
		justify-content: space-between;
	}

	.column {
		flex-wrap: wrap;
	}

	.button {
        display: inline-flex;
		margin-top: auto;
        align-items: center;
		justify-content: center;
	}

	.footer-nav {
		flex-direction: row;
		justify-content: space-around;
	}

}