/* ==================== 
  Media Queries
==================== */

@media (min-width: 769px) {
	.header,
	.main-nav,
    .row,
	.support-row,
	.design-row{
		display: flex;
	}

	.header {
		flex-direction: column;
		align-items: center;
	}

	.column {
		flex: 1 50%;
	}

    .row, 
	.support-row,
	.design-row{
		flex-wrap: wrap;
	}

    .button {
        display: flex;
		margin-top: auto;
        align-items: center;
		justify-content: center;
	}
}

@media (min-width: 1025px) {

	.header {
		flex-direction: row;
		justify-content: space-between;
	}

	.column {
		flex-basis: 0;
	}

	.primary {
		flex-grow: 1;
	}

	.button {
        display: inline-flex;
		margin-top: auto;
        align-items: center;
		justify-content: center;
	}

}