/* ====================
  Base Body & Text Styles
==================== */

* {
	box-sizing: border-box;
}

body {
    font-family: 'Palanquin', sans-serif;
    color: #333;
	line-height: 1.3;
	margin: 0;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2,
h3,
a {
	font-size: 1.25em; /* 24px/16=1.25em */
    color: #333;
    text-align: center;
}

h2,
h3 {
	margin-top: 0;
	padding: 0;
}
a {
	text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

.tagline{
	color: #fff;
	text-shadow: -1px 0 #900, 0 1px #900, 1px 0 #900, 0 -1px #900;
}

.support-hook{
	text-align: center;
}

.support-text,
.design-text {text-align: center;
	color: #900;
	text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

img {
	max-width: 100%;
}

/* ==================== 
  Base Layout Styles
==================== */

/* -- Navigation Menu -- */

.main-nav {
	margin-top: 5px;
}

.main-nav a {
    font-size: .95em;
    text-align: center;
    text-transform: uppercase;
    color: #900;
	display: block;
	padding: 10px 15px;
}

.main-nav a:hover {
	color: #000;
}

/* -- Row Layout -- */

.header {
	background-color: #fff;
	padding-top: .5em;
	padding-bottom: .5em;
}

.background-row {
	background-color: #d6ecf9;
	text-align: center;
	padding: 2em 5em;
}

.button-align {
	text-align: center;
	}

.index-jumbotron,
.footer {
    text-align: center
    }

.column {
	text-align: left;
	padding-right: 1em;
	padding-left: 1em;
}

.primary,
.secondary{
	padding-right: 2em;
}

.support-row {
	text-align: center;
    background-image: url("../img/support-background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #fff;  
    padding: 2em 5em;
	margin-top: 0;  
}

.support-bg{
	background-color: #333;
}

.design-row  {
	text-align: center;
	background-color: #d6ecf9;
    color: #333;  
    padding: 2em 5em;
	margin-top: 30px;  
}

.review-row {
    text-align: center;
    padding: 2em 0;
	margin-top: 30px;
}

.footer {
    background: #333;
    color: #fff;
	padding: 2em 0;
	margin-top: 0px;
}

/* ---- Page Elements ---- */

.logo {
	width: 50px;
}

.index-jumbotron {
	background-image: url("../img/index-jumbotron.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 12em 5em;
	margin-bottom: 0;
	height: 100%;
}
.company-name {
	color: #900;
	text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
	margin-bottom: 0;
}
.column-img {
	border-radius: 5px;
}

.support-img,
.web-design-img {
    width: 800px;
	border-radius: 5px;
}

.button {
	color: #fff;
	text-align: center;
	padding: .625em 1.25em;
	background: #900;
	border-radius: .35em;
}

.button a:hover {
	color: #fff;
	text-align: center;
	padding: .625em 1.25em;
	background: #333;
	border-radius: .35em;
}

/* ==================== 
 Testimonial Slider
==================== */
#slider {
	margin: 2em auto;
	width: 960px;
	overflow: hidden;
}

#slider-wrapper {
	width: 9999px;
	height: 300px;
	position: relative;
	transition: left 400ms linear;
}

.slide {
	float: left;
	width: 960px;
	height: 300px;
	position: relative;
}

#slider-nav {
	margin: 1em 0;
	text-align: center;
}

#slider-nav a {
	width: 2em;
	height: 2em;
	border: 1px solid #ccc;
	text-align: center;
	text-decoration: none;
	color: #000;
	display: inline-block;
	line-height: 2;
	margin-right: 0.5em;
}

#slider-nav a.current {
	border-color: #000;
}

/* ==================== 
  Media Queries
==================== */
@media (min-width: 240px) {
	.header,
    .row{
		width: 90%;
		margin: 20px;
	}

	.tagline {
		font-size: 1.4em;
	}
	.background-row{padding: 20px;}
}

@media (min-width: 769px) {
	.header,
    .row{
		width: 90%;
		margin: auto;
	}

	.tagline {
		font-size: 1.4em;
	}
	.background-row{padding: 20px;}
}

@media (min-width: 1025px) {
	.header,
	.row{
		width: 80%;
		max-width: 1150px;
	}

	.row{
		padding-top: 30px;
		padding-bottom: 30px;
	}
}