/* ====================
  Base Body & Text Styles
==================== */

* {
	box-sizing: border-box;
}

body {
    font-family: 'Palanquin', sans-serif;
    color: #333;
	line-height: 1.3;
	margin: 0;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2,
h3,
a {
	font-size: 1.25em; /* 24px/16=1.25em */
    color: #333;
    text-align: center;
}

h2,
h3 {
	margin-top: 0;
	padding: 0;
}

.testimony{
	font-size: .95em;
	margin-bottom: 0;
	padding: 0;
}

h4{
	color: #af0007;
	margin-top: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

.tagline{
	color: #fff;
	text-shadow: -1px 0 #900, 0 1px #900, 1px 0 #900, 0 -1px #900;
}

.support-hook{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 0;
}

.design-text {text-align: center;
	color: #900;
	padding-top: 0;
	text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

img {
	max-width: 100%;
}

.copy{text-align: left;}

/* ==================== 
  Base Layout Styles
==================== */

/* -- Navigation Menu -- */

.main-nav {
	margin-top: 5px;
}

.main-nav a {
    text-align: center;
    text-transform: uppercase;
    color: #900;
	display: block;
	padding: 10px 15px;
}

.main-nav a:hover {
	color: #000;
}

/* -- Row Layout -- */

.header {
	background-color: #fff;
	padding-top: .5em;
	padding-bottom: .5em;
}

.background-row {
	background-color: #d6ecf9;
	text-align: center;
	padding: 2em 5em;
}

.button-align {
	text-align: center;
	padding-bottom: 10px;
	}

.index-jumbotron,
.footer {
    text-align: center
    }

.column {
	text-align: left;
	padding-right: 1em;
	padding-left: 1em;
	padding-bottom: 1em;
	padding-top: 1em;
}

.primary,
.secondary{
	padding-right: 2em;
	padding-left: 2em;
}

.support-row {
	text-align: center;
    background-image: url("../img/support-background-sc.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #fff;  
    padding: 2em 5em;
	margin-top: 0;  
}

.support-bg{
	background-color: #333;
}

.design-row  {
	text-align: center;
	background-color: #d6ecf9;
    color: #333;  
    padding: 2em 5em;
	margin-top: 30px;  
}

.review-row {
    text-align: center;
    padding: 2em 0;
	margin-top: 10px;
}

/* ---- Footer Elements ---- */

.footer {
    background: #333;
    color: #fff;
	padding: 1em;
	padding-bottom: 0px;
	margin-top: 0px;
}

.footer-nav{
	background: #fff;
	color: #af0007;
	margin-top: 5px;
}

.footer-nav a {
    text-align: center;
	text-transform: uppercase;
	font-size: .75em;
    color: #af0007;
	display: block;
	padding: 10px 15px;
}

.footer-nav a:hover {
	color: #000;
}

/* ---- Page Elements ---- */

.logo {
	width: 50px;
}

.index-jumbotron {
	background-image: url("../img/index-jumbotron.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 12em 5em;
	margin-bottom: 0;
	height: 100%;
}
.company-name {
	color: #900;
	text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
	margin-bottom: 0;
}
.column-img,
.design-img {
	display: block;
    margin: auto;
	border-radius: 5px;
}

.support-img{
	display: block;
    margin: auto;
    width: 800px;
	border-radius: 5px;
}

.button {
	color: #fff;
	text-align: center;
	padding: .625em 1.25em;
	background: #900;
	border-radius: .35em;
}

.button a:hover {
	color: #fff;
	text-align: center;
	padding: .625em 1.25em;
	background: #333;
	border-radius: .35em;
}

hr {
	border-color: #af0007;
	}

/* ---- Sub-Page Elements ---- */
.subPageMain{
	background-color: #d6ecf9;
	align-content: center;
	margin-top: 0px;
}

.page-img-bg{
	width: 100%;
	background-color: #333;
	margin-bottom: 10px;
}

.page-img{
	display: block;
	margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.subPageTitle{
	font-size: 2em;
    color: #af0007;
	text-align: center;
	margin-bottom: 0;
	padding-bottom: 0;
}

.subPageText{
	font-size: 1.12em;
	background-color: #fff;
	color: #333;
	padding: 1.5em;
	border: 1px solid #af0007;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 4em;
	margin-right: 4em;
}

.subPageBenefits{
	font-size: 1.12em;
	background-color: #333;
	color: #fff;
	padding: .7em 1.5em;
	border: 2px solid #af0007;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 4em;
	margin-right: 4em;
}

.sysReq{
	font-size: .75em;
	padding-left: 20px;
	padding-right: 20px;}

.email{font-size: 1em;}

.contact-tagline {
	text-align: center;
	color: #333;
}

/* ==================== 
 Testimonial Slider
==================== */
#slider {
	margin: 2em auto;
	width: 960px;
	overflow: hidden;
}

#slider-wrapper {
	width: 9999px;
	position: relative;
	background-color: #333;
    color: #fff;
	transition: left 400ms linear;
	padding-bottom: 0;
}

.slide {
	float: left;
	width: 960px;
	height: 100%;
	position: relative;
	margin-bottom: 0;
	padding-bottom: 0;
}

#slider-nav {
	text-align: center;
	margin-top: 0;
	padding-top: 0;
}

#slider-nav a {
	width: 2em;
	height: 2em;
	border: 1px solid #ccc;
	text-align: center;
	text-decoration: none;
	background-color: #333;
    color: #fff;
	display: inline-block;
	line-height: 2;
	margin-right: 0.5em;
	margin-top: 0;
	padding-top: 0;
}

#slider-nav a.current {
	border-color: #af0007;
	color: #af0007;
	margin-top: 0;
	padding-top: 0;
}

/* ==================== 
  Media Queries
==================== */
@media (min-width: 240px) {
	.header,
    .row{
		width: 90%;
		margin: 20px;
	}

	.logo{width: 80px;
	}

	.main-nav a {
		font-size: 1.75em;
	}

	.support-row,
	.two-column{padding-bottom: 20px;}

	.column{width: 100%;}

	.company-name,
	.subPageTitle{
		font-size: 3em;
	}

	.tagline {
		font-size: 2em;
		text-align: center;
	}

	p {
		font-size: 2em;
		margin-bottom: 1.8em;
	}

	h2,
	h3,
	a {
		font-size: 2.5em; /* 40px/16=1.25em */
	}

	h4,
	.support-hook {
		font-size: 1.75em;
	}

	.support-text {text-align: center;
		color: #fff;
		padding-top: 0;
		text-shadow: -1px 0 #900, 0 1px #900, 1px 0 #900, 0 -1px #900;
	}

	.support-text,
	.design-text {
		font-size: 3em;
	}

	.testimony,
	.client-tag{
		font-size: 2em;
	}

	.email{font-size: 2em;}

	.contact-tagline {
		font-size: 2.5em;
	}

	.footer-nav a {
		font-size: 1.75em;
	}

	/* ---- Slider @ 240 ---- */
	#slider-wrapper {
		height: 430px;
		margin-bottom: 10px;
	}
	
@media (min-width: 1025px) {
	.header,
	.row{
		width: 90%;
		margin: auto;
	}

	.logo{width: 50px;}

	.main-nav a {
		font-size: .95em;
	}

	.column{width: 33.33%;}

	.two-column{width: 50%;
		padding-bottom: 0px;
	}

	.company-name{
		font-size: 3.13em;
	}
			
	.tagline {
		font-size: 1.4em;
		text-align: center;
	}

	p {
		font-size: .95em;
		margin-bottom: 1.8em;
	}

	h2,
	h3,
	a {
		font-size: 1.25em; /* 24px/16=1.25em */
	}

	h4,
	.support-hook {
		font-size: 1em;
	}
	
	.support-text,
	.design-text {text-align: center;
		font-size: 2.25em;
		color: #900;
		padding-top: 0;
		text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
	}

	.testimony,
	.client-tag{
		font-size: .95em;
	}

	.email{font-size: 1em;}

	.contact-tagline {
		font-size: 1.25em;
	}

	.footer-nav a {
		font-size: .75em;
	}

	/* ---- Slider @ 1025 ---- */
	#slider-wrapper {
		height: 150px;
		margin-bottom: 20px;
	}

}